@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: #deeff8;
}
.main-container {
  width: 410px;
  height: 610px;
  padding: 10px;
  border-radius: 5px;
  background: #d8e0e4;
  box-shadow: -18px 18px 36px #b8bec2, 18px -18px 36px #f8ffff;
  position: relative;
}

.title {
  margin: 10px 0;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
}
.img-container > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #bebebe;
  border-radius: 5px;
  overflow: hidden;
}

.answer-container {
  width: 100%;
  height: 60px;
  display: grid;
  place-items: center;
}

.end-game {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #bcd4e2;
  z-index: 1000;
  display: none;
  place-items: center;
  font-size: 30px;
}

.end-game div > button {
  padding: 10px 20px;
  margin-top: 40px;
  letter-spacing: 0.15rem;
  font-size: 11px;
  border-radius: 5px;
  color: #3a7e96;
  border: none;
  text-transform: uppercase;
}

.end {
  display: grid;
}

#answer {
  position: relative;
}

.power-ups {
  position: absolute;
  width: 70px;
  height: 40px;
  top: 0;
  right: 0;
  margin: 5px 0;
}

#refresh-btn,
#hint-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #5d929e;
  border-radius: 5px;
  position: relative;
}

#hint-count {
  position: absolute;
  width: 15px;
  height: 15px;
  left: -5px;
  bottom: -5px;
  line-height: 15px;
  font-size: 10px;
  background: #10191d;
  border-radius: 50%;
  color: #deeff8;
}

.answer-container tr > td {
  width: 30px;
  height: 30px;
  background: #bcd4e2;
}

.next-display {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: #a4d3e3;
  z-index: 3;
  display: none;
}

.next-display > div {
  font-size: 40px;
  color: #4d9bb7;
}

.next-display div > button {
  margin-top: 40px;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: #3a7e96;
}

.next {
  display: grid;
}

.startgame-display {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d8e0e4;
  z-index: 4;
  box-sizing: border-box;
  padding-top: 50px;
}

.start-game {
  display: none;
}

.startgame-display > button {
  padding: 10px 20px;
  border: none;
  background: #5d929e;
  letter-spacing: 0.15rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}

.img-display > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#random-char {
  width: 100%;
  height: 100px;
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#random-char > div {
  width: 30px;
  height: 30px;
  background: #bcd4e2;
}
